.loader {
  /* création loader */
  border: 10px solid #f3f3f3;
  width: 200px;
  height: 200px;
  border-top: 10px solid $color-primary;
  border-bottom: 10px solid $color-secondary;
  border-right: 10px solid $color-tertiary;
  border-left: 10px solid $color-tertiary;
  border-radius: 50%;
  -webkit-animation: spin 1s linear 5s backwards;
  -o-animation: spin  1s linear 5s backwards;
  animation: spin 1s linear 5s backwards;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  background-color: white;
  opacity: 0;

  /* positionnement loader */
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

/* animation loader */
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
    opacity: 1;
  }
}
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    opacity: 1;
  }
}
.welcome {
}
