.background-loader {
  position: fixed;
  z-index: 13;
  height: 100%;
  width: 100%;
  background-color: white;
  animation: fixloader 3s linear;
  animation-fill-mode: forwards;
}

.loader {
  /* création loader */
  border: 10px solid #f3f3f3;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: spin 1.5s linear;
  animation-fill-mode: both;

  /* positionnement loader */
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.welcome {
  color: $color-primary;
  font-family: roboto;
  font-size: 1.7rem;
}
